<div
  class="
    h-100
    p-5
    text-white
    bg-dark
    rounded-3
    animate__animated animate__fadeIn
  "
>
  <h2>Inicio de sesión</h2>

  <form
    class="main-container"
    [formGroup]="loginGroup"
    (ngSubmit)="submitForm()"
  >
    <div class="mb-3">
      <label for="email" class="form-label">Correo electrónico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        formControlName="email"
      />
      <div
        class="form-text animate__animated animate__fadeIn"
        *ngIf="
          loginGroup.get('email').invalid && loginGroup.get('email').touched
        "
      >
        El correo no es válido
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        formControlName="password"
      />
      <div
        class="form-text animate__animated animate__fadeIn"
        *ngIf="
          loginGroup.get('password').invalid &&
          loginGroup.get('password').touched
        "
      >
        La contraseña no es correcta
      </div>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="inputRememberMe" />
      <label class="form-check-label" for="Check">Recordarme</label>
    </div>
    <button
      type="submit"
      [disabled]="loginGroup.invalid"
      class="btn btn-outline-light"
    >
      Iniciar sesión
    </button>
    <button type="button" class="btn btn-dark">Olvidé mi contraseña</button>
  </form>
</div>
